body{
    background-color: red;
    font-family: 'Splash', cursive;
    text-align: center;
}

h1{
    font-size: 36px;
    
}

ol,li{
    color: white;
    font-size: 32px;
}

p{
    font-size: 22px;
}

a{
    font-size: 20px;
}

img{
    height: 400px;
    width: 400px;
}

#odinlogo{
    height: 300px;
    width: 600px;
}